@model TicketManagement.Models.TicketViewModel
@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        OnBegin = "OnBeginFilter(data)",
        OnSuccess = "OnSuccesFilter(data)",
        OnFailure = "OnFailureFilter(data)",
        OnComplete = "OnCompleteFilter(data)"
    };
}
<h2>Administracion de Tickets</h2>
@using (Ajax.BeginForm("Index", "Tickets", null, ajaxOptions)){
<fieldset>
    <legend>Filtros de busqueda</legend>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <input id="keywordFilter" name="keywordFilter" type="text" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            @Html.DropDownList("categoryFilter", (List<SelectListItem>)ViewBag.CategoriesList, new { @class = "form-control", id = "categoryFilter", name = "categoryFilter" })

        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <input id="creationDateFilter" name="creationDateFilter" type="date" class="form-control" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <button type="submit" class="find-btn form-control">Buscar</button>
        </div>
    </div>
</fieldset>
    }

@Html.ActionLink("Create New Ticket", "CreateTicket", "Tickets", null, new { @class = "btn modal-link create-link" })


<table class="table tickets-table">
    <tr>
        <th>
            @Html.CheckBox("select-all-btn", false, new { @class = "form-control select-all-btn", id = "select-all-btn"})
        </th>
        <th>
            # Ticket
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Category
        </th>
        <th>
            Creation Date
        </th>
        <th>
            Modification Date
        </th>
    </tr>

    @foreach (var item in Model.Tickets)
    {
        <tr>
            <td>
                @Html.CheckBox("delete-reg" + item.Id, false, new { @class = "form-control delete-reg", id = "delete-reg"+item.Id })
            </td>
            <td>
                @Html.ActionLink("" + item.Id, "EditTicket", "Tickets", new { id = item.Id }, new { @class = "modal-link edit-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModificationDate)
            </td>

        </tr>
    }
</table>
@{Html.RenderPartial("_Paginator", Model); }

<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>